{% extends '::layout.html.twig' %} 

{% block title %}about{% endblock %}
    {% block contenu%}
  
   <div class="aboutbg img-overlay"></div>
    <div class="content">                         
     <div class="content_overlay"></div>
        <div class="content_inner">
            <div class="row contentscroll">
                <div class="container col-md-30">
                  <div class="col-md-6 empty">&nbsp;</div>
                          <div class="col-md-6 content_text">
                          <h1>About Us</h1>
                          <div class="clearfix pad_top13">
				<div class="col-md-10">
				    <p class="row">
					<span class="bold">Specializes in Non-veg , 65, Thanthuri, Sandwich, 65 smoked sandwich.</span><br/><br/> Our team of highly qualified professionals headed by an experienced Chef. Lnim ad minim veniam, quis nostrud.<br /><br />

Exercitation ullamco laboris nisi ut aliquip ex ea commodo. Duis aute dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla  do tempore ercitationem ut labore. et dolore magna aliqua.								</p>
				</div>
				<div class="col-md-6">
				    <div class="right_content ">
					<div class="sub_title">
					    <h4>Opening hours:</h4>
					</div>
								
				        <div class="hour_table">
					     <table>
						<tr>
                                                    <td class="days">mon - Fri</td>
                                                    <td>9:00am - 4:00pm</td>
						</tr>
						<tr>
				                    <td class="days">Sat</td>	
					            <td>9:00am - 2:00pm</td>		
						</tr>
                                                <tr>
		                                    <td class="days">Sun</td>	
						    <td>8:30am - 1:00pm</td>		
						</tr>
					     </table>
					</div>
					<div class="sub_title">
					    <h4>book your table:</h4>
					</div>
						<p>
						We welcome walk-in guests,online at<br/><br><a class="button nav-link" href="contactform.htm">Book table</a>							</p>
				    </div>
				</div>
			    </div>
                            </div>
                </div>
            </div>
	</div>
    </div>
    </div>
        
	 
      
    {%endblock%}