{% extends '::layout.html.twig' %} 

{% block title %}contact{% endblock %}
    {% block contenu%}

        <div id="map_canvas" class="fullBg"></div>
    <div class="content_overlay"></div>
        <div class="content_inner">
            <div class="row contentscroll">
                <div class="container">
                    <div class="col-md-6 empty">&nbsp;</div>
                <div class="col-md-6 content_text">
                    <h1>Contact Us</h1>
                    <p class="pad_top13">Lorem ipsum dolor sit amet conse ctetur elit sed do eiusmod tempor augue.</p>
                <div class="clearfix pad_top20">
                
                <h2 class="clearfix address">
                    <span class="left"><i class="fa fa-map-marker"></i>&nbsp;&nbsp;</span>
                    <span class="left"> #12 Fifth main street,<br/> NY 10307, USA</span>					
                </h2>
                
                <div class="phone"><i class="fa fa-phone"></i>&nbsp;&nbsp;+ 1 123 456 7890</div>
                
                <a href="mailto:info@mathewjoyson.com" class="mail-text">
                	<i class="fa fa-envelope"></i>info@mathewjoyson.com
                </a>
                
                <div class="clearfix">
                    <div class="header_icons accura-header-block accura-hidden-2xs social_top">
                        <ul class="accura-social-icons accura-stacked accura-jump accura-full-height accura-bordered accura-small accura-colored-bg clearFix">
                        <!--Social Icon 1-->
                        <li>
                            <a href="http://www.facebook.com" target="_blank" class="accura-social-icon-facebook circle">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <!-- // Social Icon 1-->
                        
                        <!--Social Icon 2-->
                        <li>
                            <a href="http://www.twitter.com" target="_blank" class="accura-social-icon-twitter circle">
                            	<i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <!-- // Social Icon 2-->
                        
                        <!--Social Icon 3-->
                        <li>
                            <a href="http://www.googleplus.com" target="_blank" class="accura-social-icon-gplus circle">
                            	<i class="fa fa-google-plus"></i>
                            </a>
                        </li>
                        <!-- // Social Icon 3-->
                        
                        <!--Social Icon4-->
                        <li>
                            <a href="https://instagram.com/accounts/login/" target="_blank" class="accura-social-icon-instagram circle">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </li>
                        <!-- // Social Icon 4-->
                        
                        <!--Social Icon 5-->
                        <li>
                            <a href="https://www.linkedin.com/uas/login" target="_blank" class="accura-social-icon-linkedin circle">
                           		<i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                        <!-- // Social Icon 5-->
                        </ul>
                    </div>
                </div>
                <!--Button-->
                <div class="pad_top30">
                	<a class="button nav-link" href="contactform.htm">Enquiry Form</a>
                </div>
                <!-- // Button-->
                </div>
                </div>
                </div>
            </div>
       
        {%endblock%}